body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: black;
  opacity: 0.9;
}

body,
a {
  color: seashell;
}

.bold {
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.container {  
  display: flex;
  align-items: center;
  justify-content: center;  
}

.wrapper {
  width: 100%;
  display: block;
  padding: 10px;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

header,
.mission,
.locations,
footer {
  max-width: 1200px;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo,
nav,
nav li {
  display: inline-block;
}

.logo {
  height: 50px;
}

nav {
  margin: 12.5px;
}

.logo,
nav li,
figure {
  margin: 10px;
}

.mission {
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(img-mission-background.jpg);
  background-size: cover;
}

.mission .wrapper {
  background-color: black;
}

.tea-of-the-month {
  width: 1000px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.tea-of-the-month .container {
  flex-wrap: wrap;
}

.tea-of-the-month img {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 10px
}

.locations {
  background-image: url(img-locations-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
}

.locations .item {
  width: 300px;
  box-sizing: border-box;
  padding: 20px 5px;
  line-height: 2.5;
  background-color: black;
  margin: 20px;
}

.locations p {
  font-size: .9em;
}

footer {
  padding: 10px 0 20px 0;
}

footer h2 {
  margin-bottom: 40px;
}

footer h5,
footer p {
  font-size: .8em;
  margin-bottom: 30px
}

footer .copyright {
  margin-left: 20px;
}
